button {
  cursor: pointer;
}
/*		Mobile Layout: 320px.   */
@media only screen and (max-width: 767px) {

  .singleWrap {
    flex: 1 0 100% !important;
  }
  .postForm .inputWrap {
    flex-direction: column !important;
    grid-gap: 10px;
  }
  .postForm .inputWrap .inputInfo {
    width: 100% !important;
    text-align: center;
  }
}
